
<IfModule mod_mime.c>

  # Web fonts
    AddType application/font-woff                       woff
    AddType application/font-woff2                      woff2
    AddType application/vnd.ms-fontobject               eot

    # Browsers usually ignore the font media types and simply sniff
    # the bytes to figure out the font type.
    # http://mimesniff.spec.whatwg.org/#matching-a-font-type-pattern

    # Chrome however, shows a warning if any other media types are used
    # for the following two font types.

    AddType application/x-font-ttf                      ttc ttf
    AddType font/opentype                               otf

    AddType image/svg+xml                               svg svgz

</IfModule>

<IfModule mod_expires.c>

    ExpiresActive on
    ExpiresDefault                                      "access plus 1 month"

  # HTML
    ExpiresByType text/html                             "access plus 0 seconds"

  # Favicon (cannot be renamed!) and cursor images
    ExpiresByType image/x-icon                          "access plus 1 week"

  # CSS
    ExpiresByType text/css                              "access plus 1 year"

  # Web feeds
    ExpiresByType application/atom+xml                  "access plus 1 hour"
    ExpiresByType application/rss+xml                   "access plus 1 hour"

  # Web fonts
    ExpiresByType application/font-woff                 "access plus 1 month"
    ExpiresByType application/font-woff2                "access plus 1 month"
    ExpiresByType application/vnd.ms-fontobject         "access plus 1 month"
    ExpiresByType application/x-font-ttf                "access plus 1 month"
    ExpiresByType font/opentype                         "access plus 1 month"
    ExpiresByType image/svg+xml                         "access plus 1 month"

  # Data interchange
    ExpiresByType application/json                      "access plus 0 seconds"
    ExpiresByType application/ld+json                   "access plus 0 seconds"
    ExpiresByType application/vnd.geo+json              "access plus 0 seconds"
    ExpiresByType application/xml                       "access plus 0 seconds"
    ExpiresByType text/xml                              "access plus 0 seconds"

</IfModule>

RewriteEngine on

RewriteRule ^blog.php?2016-01-13-options-settings-preferences-configurations /blog.php?p=2016-01-13-options-settings-preferences-configurations [R=301,L]
RewriteRule ^blog.php?2015-11-20-how-to-set-chrome-as-default-pdf-viewer /blog.php?p=2015-11-20-how-to-set-chrome-as-default-pdf-viewer [R=301,L]
RewriteRule ^blog.php?2015-06-26-parse-files-recursively-using-java-7 /blog.php?p=2015-06-26-parse-files-recursively-using-java-7 [R=301,L]
RewriteRule ^blog.php?2015-02-15-java-lang-unsatisfiedlinkerror-no-dll-in-java-library-path /blog.php?p=2015-02-15-java-lang-unsatisfiedlinkerror-no-dll-in-java-library-path [R=301,L]
RewriteRule ^blog.php?2014-06-28-hibernate-exception-a-collection-with-cascade-all-delete-orphan-was-no-longer-referenced-by-the-owning-entity-instance /blog.php?p=2014-06-28-hibernate-exception-a-collection-with-cascade-all-delete-orphan-was-no-longer-referenced-by-the-owning-entity-instance [R=301,L]
RewriteRule ^blog.php?2014-06-26-hibernate-entity-superclass-mappedsuperclass /blog.php?p=2014-06-26-hibernate-entity-superclass-mappedsuperclass [R=301,L]
RewriteRule ^blog.php?2014-01-14-disable-browser-caching-with-meta-html-tags /blog.php?p=2014-01-14-disable-browser-caching-with-meta-html-tags [R=301,L]
RewriteRule ^blog.php?2013-08-06-upgrade-samsung-galaxy-s2-to-android-4-0-4 /blog.php?p=2013-08-06-upgrade-samsung-galaxy-s2-to-android-4-0-4 [R=301,L]
RewriteRule ^blog.php?2013-07-06-root-samsung-galaxy-s2-on-android-4-0-4 /blog.php?p=2013-07-06-root-samsung-galaxy-s2-on-android-4-0-4 [R=301,L]
RewriteRule ^blog.php?2013-06-05-multiple-properties-files-in-spring-context-xml /blog.php?p=2013-06-05-multiple-properties-files-in-spring-context-xml [R=301,L]
RewriteRule ^blog.php?2013-05-27-spring-quick-start-tutorial /blog.php?p=2013-05-27-spring-quick-start-tutorial [R=301,L]

RewriteRule ^knowledge-base/java/parse-files-recursively-using-java-7 /blog.php?2015-06-26-parse-files-recursively-using-java-7 [R=301,L]
RewriteRule ^knowledge-base/java/java-lang-unsatisfiedlinkerror-no-dll-in-java-library-path /blog.php?2015-02-15-java-lang-unsatisfiedlinkerror-no-dll-in-java-library-path [R=301,L]

RewriteRule ^knowledge-base/html/disable-browser-caching-with-meta-html-tags /blog/disable-browser-caching-with-meta-html-tags/ [R=301,L]
RewriteRule ^knowledge-base/hibernate/hibernateexception-a-collection-with-cascadeall-delete-orphan-was-no-longer-referenced-by-the-owning-entity-instance /blog/hibernate-exception-a-collection-with-cascade-all-delete-orphan-was-no-longer-referenced-by-the-owning-entity-instance/ [R=301,L]
# RewriteRule ^knowledge-base/java/java-lang-unsatisfiedlinkerror-no-dll-in-java-library-path /blog/java-lang-unsatisfiedlinkerror-no-dll-in-java-library-path/ [R=301,L]
RewriteRule ^knowledge-base/hibernate/hibernate-entity-superclass-mapped-superclass /blog/hibernate-entity-superclass-mappedsuperclass/ [R=301,L]
RewriteRule ^knowledge-base/java/xstream-quick-start-tutorial /blog/xstream-quick-start-tutorial/ [R=301,L]
RewriteRule ^knowledge-base/uncategorized/root-samsung-galaxy-s2-on-android-4-0-4 /blog/root-samsung-galaxy-s2-on-android-4-0-4/ [R=301,L]

RewriteRule ^knowledge-base/(.*)$ /search.php?q=$1 [R=302,L]

RewriteRule ^test-rewrite-rule/(.*)$ ~temp/search.php?q=$1 [R=302,L]

# RewriteRule ^_media/(.*)              lib/exe/fetch.php?media=$1  [QSA,L]
# RewriteRule ^_detail/(.*)             lib/exe/detail.php?media=$1  [QSA,L]
# RewriteRule ^_export/([^/]+)/(.*)     doku.php?do=export_$1&id=$2  [QSA,L]
# RewriteRule ^$                        doku.php  [L]
# RewriteCond %{REQUEST_FILENAME}       !-f
# RewriteCond %{REQUEST_FILENAME}       !-d
# RewriteRule (.*)                      doku.php?id=$1  [QSA,L]
# RewriteRule ^index.php$               doku.php
