.gsc-control-cse, .gsc-control-cse * {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	background-color: transparent !important;
	height: 100% !important;
}

.gsc-control-cse, .gsc-control-cse * {
	font-family: "Source Sans Pro", Helvetica, sans-serif !important;
	font-size: 14pt !important;
	font-weight: 400 !important;
	line-height: 1.75 !important;
}

.gs-result {
	margin-bottom: 1em !important;
}

.gsc-url-top * {
	font-size: 0.85em !important;
	line-height: 1.15 !important;
}

.gsc-cursor-page {
	margin-right: 0.5em !important;
}

.gsc-above-wrapper-area, .gsc-resultsHeader, .gcsc-branding {
	display: none !important;
}